.title-section{
	font-family: 'Franklin Gothic Medium Cond';
	font-weight: 400;
	font-size: vw(20px, $mobile);
	text-transform: uppercase;
	text-align: left;
	color: inherit;
	line-height: 1;
	@media (min-width: $tab){
		font-size: vw(28px, $tablet);
	}
	@media (min-width: $desk){
		font-size: vw(36px, $desktop);
	}
	strong{
		font-family: 'Franklin Gothic Demi Cond';
		font-weight: 400;
		display: block;
		color: $primary;
	}
}