.price{
	.title-section{
		margin-bottom: vw(14px, $mobile);
		@media (min-width: $tab){
			margin-bottom: vw(20px, $tablet);
		}
		@media (min-width: $desk){
			margin-bottom: vw(25px, $desktop);
		}
	}
	&__inner-wrapper{
		@media (min-width: $tab){
			background-image: url("../images/price_bg.webp");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.container{
			@media (max-width: 768px){
				padding: 0;
				max-width: 100%;
			}
		}
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(2, minmax(auto, 1fr));
		@media (min-width: $tab){
			grid-template-columns: repeat(3, minmax(auto, 1fr));
		}
		@media (min-width: $desk){
			grid-template-columns: repeat(4, minmax(auto, 1fr));
		}
	}
	&__item{
		background: #E4E4E4;
		padding: vw(20px, $mobile);
		transition: .3s ease;
		display: grid;
		grid-auto-flow: row;
		grid-template: 1fr auto auto auto/ 1fr;
		@media (max-width: 768px){
			&:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7){
				background: $white;
			}	
		}
		@media (min-width: $desk){
			&:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7){
				background: $white;
			}	
		}
		&:last-child{
			display: block;
			background-image: url("../images/price_last_item_bg.webp") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			@media (min-width: $desk){
				background: transparent !important;
			}
			.btn{
				width: 100%;
				@media (max-width: 768px){
					padding-right: vw(15px, $mobile);
					padding-left: vw(15px, $mobile);
				}
			}
		}
		@media (any-hover: hover){
			&:hover{
				background: $primary;
				color: $white;
				.price__item-days, .price__item-price{
					border-color: $white;
				}
				.price__item-days::before{
					background-image: url("../images/icons/days_active.svg");
				}
				.price__item-price::before{
					background-image: url("../images/icons/price_active.svg");
				}
				.price__item-btn{
					background-image: url("../images/icons/add_active.svg");
				}
			}
		}
		@media (min-width: $tab){
			padding: vw(20px, $tablet);
		}
		@media (min-width: $desk){
			padding: vw(30px, $desktop);
		}
		&-icon{
			display: block;
			width: vw(46px, $mobile);
			aspect-ratio: 4/4;
			margin-left: auto;
			margin-bottom: vw(20px, $mobile);
			@media (min-width: $tab){
				width: vw(46px, $tablet);
				margin-bottom: vw(20px, $tablet);
			}
			@media (min-width: $desk){
				width: vw(62px, $desktop);
				margin-bottom: vw(5px, $desktop);
			}
		}
		&-title{
			font-size: vw(16px, $mobile);
			text-transform: uppercase;
			margin-bottom: vw(20px, $mobile);
			@media (min-width: $tab){
				font-size: vw(16px, $tablet);
				margin-bottom: vw(20px, $tablet);
			}
			@media (min-width: $desk){
				font-size: vw(24px, $desktop);
				margin-bottom: vw(60px, $desktop);
			}
		}
		&-bottom{
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			gap: vw(8px, $mobile);
			@media (min-width: $tab){
				gap: vw(8px, $tablet);
			}
			@media (min-width: $desk){
				gap: vw(10px, $desktop);
			}
		}
		&-days, &-price{
			width: max-content;
			min-width: vw(100px, $mobile);
			border: 1px solid #c7c7c7;
			border-radius: vw(30px, $mobile);
			position: relative;
			padding: vw(6px, $mobile);
			padding-left: vw(26px, $mobile);
			font-size: vw(14px, $mobile);
			text-transform: uppercase;
			@media (min-width: $tab){
				min-width: vw(100px, $tablet);
				border-radius: vw(30px, $tablet);
				padding: vw(6px, $tablet);
				padding-left: vw(26px, $tablet);
				font-size: vw(14px, $tablet);
			}
			@media (min-width: $desk){
				min-width: vw(150px, $desktop);
				border-radius: vw(30px, $desktop);
				padding: vw(10px, $desktop);
				padding-left: vw(40px, $desktop);
				font-size: vw(18px, $desktop);
			}
			&::before{
				content: '';
				position: absolute;
				width: vw(15px, $mobile);
				aspect-ratio: 4/4;
				top: 50%;
				left: vw(6px, $mobile);
				transform: translate(0, -50%);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				@media (min-width: $tab){
					width: vw(15px, $tablet);
					left: vw(6px, $tablet);
				}
				@media (min-width: $desk){
					width: vw(22px, $desktop);
					left: vw(10px, $desktop);
				}
			}
		}
		&-days{
			margin-bottom: vw(8px, $mobile);
			@media (min-width: $tab){
				margin-bottom: vw(8px, $tablet);
			}
			@media (min-width: $desk){
				margin-bottom: vw(10px, $desktop);
			}
			&::before{
				background-image: url("../images/icons/days.svg");
			}
		}
		&-price{
			&::before{
				background-image: url("../images/icons/price.svg");
			}
		}
		&-btn{
			font-size: 0;
			width: vw(36px, $mobile);
			aspect-ratio: 4/4;
			background-image: url("../images/icons/add.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			@media (min-width: $tab){
				width: vw(36px, $tablet);
			}
			@media (min-width: $desk){
				width: vw(65px, $desktop);
			}
		}
	}
}