@font-face {
	font-family: 'Franklin Gothic Demi Cond';
	src: url("./fonts/Franklin Gothic Demi Cond.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic Medium Cond';
	src: url("./fonts/Franklin Gothic Medium Cond.ttf");
	font-weight: 400;
	font-style: normal;
} 

@font-face {
	font-family: 'Franklin Gothic Book';
	src: url("./fonts/ofont.ru_Franklin Gothic Book.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Azkia demo';
	src: url("./fonts/Azkia demo.otf");
	font-weight: 400;
	font-style: normal;
}