//VW
$mobile: 375px;
$tablet: 768px;
$desktop: 1920px;

//Colors
$primary: #40C574;
$green: #47D47E;
$greenDark: #03491E;
$gray: #6E6C6C;
$orange: #FF9D00;
$dark: #151515;
$white: #fff;

//Breackpoimts
$tab: 768px;
$desk: 1280px;